* {
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  cursor: pointer;
}
*:hover {
	filter: none;
  -webkit-filter: grayscale(0%);
}

h5 {
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
}
#grabber {
  color: white;
  background-image: url("assets/_DSC7653.jpg");
  background-size: 1100px, 1200px; 
}

#jumbo {
	margin-top: 15px;
	color: white;
	font-size: 40px;
	font-family: "Julius Sans One", sans-serif;
	font-weight: bolder;
	text-shadow: 5px 5px 5px #000
}

.lyric {
	font-family: "Julius Sans One", sans-serif;
	font-weight: bolder;
}

#thisisme {
	min-height: 40px;
}

#webdev {
	min-height: 60px;
}

#languages {
	min-height: 75px;
}
#projectwrapper {
	margin-top: 20px;
}
#thecontactblurb {
	font-family: "Mr Bedfort", cursive;
	font-size: 20px;
}
img.icon {
	height: 50px;
	width: 50px;
	margin: 5px;
}
img.thumbnail {
	border-radius: 5px;
	height: 210px;
	width: 210px;
}
#rebel {
	padding-bottom: 25px;
}
#footer {
	margin-bottom: 20px;
}